name: Drawer
on:
  push:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true
jobs:
  draw:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install PNG Image Tools
        run: |
          sudo apt-get install -y imagemagick
          sudo apt-get install -y inkscape
          echo "which convert"
          which convert
          echo "convert --version"
          convert --version
      - name: Build VialToKeymapDrawer
        run: |
          export SAVED_PWD="$PWD"
          sudo add-apt-repository ppa:haxe/releases -y
          sudo apt-get update
          sudo apt-get install haxe -y
          mkdir ~/haxelib && haxelib setup ~/haxelib
          echo "haxe --version"
          haxe --version
          echo "which neko"
          which neko
          export VTKD="$HOME/.VialToKeymapDrawer"
          git clone --depth=1 https://github.com/YAL-Tools/vial-to-keymap-drawer.git $VTKD
          cd $VTKD
          haxe build-neko.hxml
          cd $SAVED_PWD
          neko $VTKD/bin/VialToKeymapDrawer.n --vil ./Cygnus-Keymap.vil --keyboard 'splitkb/aurora/corne/rev1' --layout 'LAYOUT_split_3x6_3' --layer '0,1,2' --omit-m1 ./Cygnus-Keymap.yml
      - name: Generate SVG
        run: |
          python3 ./process.py
          pipx install keymap-drawer
          keymap -c my_config.yaml draw Cygnus-Keymap-Processed.yml -o my_keymap.svg
          echo "git status"
          git status
      - name: Generate PNG
        run: |
          convert -density 983 my_keymap.svg my_keymap_generated.png
          echo "git status"
          git status
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(SVG): auto update SVG pictures"
